## Laurie Griffiths

I'm Laurie. I'm a software engineer based in Fukuoka, Japan

I also run events and communities at the [Fukuoka Engineer Cafe](https://engineercafe.jp), a city supported co-working and maker space. We aim to support the engineering community in Fukuoka and provide a place for people to build their skills. We're based in a striking 100-year-old red brick building in central Fukuoka.
