## Laurie Griffiths

![Laurie](laurie_cropped.jpg)
_Photograph by [@miwaza](https://www.instagram.com/miwaza/)_

I'm a software engineer based in Fukuoka, Japan

I also help run [Fukuoka Engineer Cafe](https://engineercafe.jp), a city supported co-working and maker space.
