# Contact

For booking seminars and workshops: laurie@syllablitz.com

For other work related enquiries: laurie.in.japan@gmail.com

For Fukuoka Engineer Cafe related enquiries and consultations: [Fukuoka Engineer Cafe Discord](https://discord.com/servers/onrainenziniakahue-online-engineer-cafe-705718844400074784)

## Socials

[Facebook](https://www.facebook.com/lauriegriffiths)

[LinkedIn]()

[Github](https://github.com/lauriegriffiths)
