---
title: Published article
published: true
---
<script>
import FileDownload from '$lib/FileDownload.svelte'
</script>

An example of an image tag
`![a bench](image.png)`

File downloads like this: 
`<FileDownload filename={"model.stl"}/>`


Code bocks: 

```python
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)
```